<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.xxx.DbUnitSampleApplication.infrastructure.repository.BookRepositoryMapper">
    <select id="getBookData" resultType="jp.co.xxx.DbUnitSampleApplication.entity.Book">
        SELECT
            *
        FROM
            db_books.Book
    </select>
</mapper>