<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.xxx.DbUnitSampleApplication.infrastructure.repository.BookRepositoryMapper">
    <select id="getCurrentTimeStamp" resultType="java.sql.Timestamp">
        SELECT current_timestamp;
    </select>

    <select id="getBookData" resultType="jp.co.xxx.DbUnitSampleApplication.entity.Book">
        SELECT
            id,
            title,
            author
        FROM
            books.book
    </select>

    <insert id="insertBookData" parameterType="jp.co.xxx.DbUnitSampleApplication.entity.Book">
        INSERT INTO book (title, author)
        VALUES ( #{book.title}, #{book.author});
    </insert>
</mapper>